.table_heading {
  color: #ccc5c5;
  font-weight: bold;
  font-size: larger;
}
.table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table_body {
  background-color: #e6e7e9;
}
.table_row {
  border-spacing: 0;
  border-radius: 1rem;
}
.table_icon {
  fill: red !important;
}
.table_email,
.table_phone {
  border-left: 1px solid #d4d6da;
}
.button_accept {
  background-image: linear-gradient(-60deg, #ff3d3d, #cc2020);
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  font-weight: 500;
  width: 150px;
}
.button_accept:hover {
  box-shadow: 1px 8px 20px rgb(228, 225, 225);
  -webkit-transition: box-shadow 0.4s ease-out;
  opacity: 0.9;
}
